# Python
*.py[co]

# XML
jshint.xml
checkstyle-jshint.xml
xunit.xml
-u

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
#bin
var
sdist
develop-eggs
tdd
tars
src-cov
.installed.cfg

# Project files
.idea
*.log
target

# Installer logs
pip-log.txt

# Unit test / coverage reports
coverage
coverage.xml
TEST-nosetests.xml
.coverage
.tox
pylint.txt

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

.venv
# ide
## Eclipse
.project
.pydevproject
.settings

# Version from git
src/setup.cfg

#Mac
.DS_Store
